<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="/">
                <h1>LOGO</h1>
            </a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/dashboard">Add Inventory</a>
            <a href="/login">Login/Sign Up</a>
        </div>
    </div>
    <hr>
</body>
</html>
